# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# mongo atlas
DATABASE_URL=
# https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=

# Create a project on https://console.cloud.google.com/
# Select the new Project and go to the API & Services > Credentials
# Configurar la pantalla de consentimiento OAuth (como externos)
# Configurar la pantalla de inicio
# Nos pedira configurar permisos y usuarios de prueba (vacio para test)
# Luego ir a Credenciales y Crear Credenciales -> OAuth Credentials ID
# Agregar el Authorized redirect URL - http://localhost:3000/api/auth/callback/google
GOOGLE_ID=""
GOOGLE_SECRET=""

NEXTAUTH_SECRET=

# https://cloudinary.com/
#  We need another key to setup the coudinary button, called Preset and you can found it on Settings - Upload - Upload Preset Names 
# You need to setup on every CldUploadButton
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="manuuualvarez"


# you SHOULD TO SETUP THE CLUSTER STRING ON PUSHER CLIENT ON ../libs/pusher.ts
NEXT_PUBLIC_PUSHER_APP_KEY=
PUSHER_APP_ID=
PUSHER_SECRET=
